this is the users index page

<ul>
<% @users.each do |user| %>
  <li>
    <strong>Full Name: </strong><%= user.full_name %><br />
    <strong>Email: </strong><%= user.email %><br />
    <strong>Password: </strong><%= user.password %><br />
    
    <!-- /users/4 == user_path(4) -->
    <%= link_to "Show", user_path(user) %>

    <!-- /users/4/edit == edit_user_path(4) -->
    <%= link_to "Edit", edit_user_path(user) %>
    <%= link_to "Delete User", user_path(user), method: :delete %>
  </li>
<% end %>
</ul>