<%= form_for @user do |f| %>
  <p>Signup Form</p>
  <%= f.text_field :fname, placeholder: "First name" %><br />
  <%= f.text_field :lname, placeholder: "Last name" %><br />
  <%= f.text_field :email, placeholder: "Email" %><br />
  <%= f.text_field :password, placeholder: "Password" %><br />
  <%= f.submit "Submit" %>
<% end %>